<ul class="team__list">
        <!-- <li>
                <div class="team__card">
                        <div class="team__wrapper">
                                <img class="team__image" src="/src/images/team/Alla_Yukhymenko.jpeg"
                                        alt="Alla_Yukhymenko" width="100">
                        </div>
                        <div class="team__wrapper">
                                <p>Alla Yukhymenko</p>
                                <p>
                                        <a href="https://github.com/AllaYukhym" class="team__git">GitHub:
                                                https://github.com/AllaYukhym</a>
                                </p>
                                <p>Role: Scrum Master</p>
                        </div>
                </div>
        </li> -->
</ul>