<div class="wrapper">
        <div class="container">
                <ul class="trend-list">
                        <!-- <li>
                                <div>
                                        <a href="#">
                                                <img src="#" alt="name">
                                        </a>
                                </div>
                                <div>
                                        <div>
                                                <p>title</p>
                                        </div>
                                        <div>
                                                <ul>
                                                        <li>genre</li>
                                                        <li>genre</li>
                                                </ul>
                                        </div>
                                        <div>
                                                <p>year</p>
                                        </div>
                                </div>
                        </li> -->
                </ul>
        </div>
</div>